Database__Host         = "localhost"
Database__Password     = "postgres"
Database__Name         = "postgres"
Database__Username     = "postgres"
Admin__Username        = "mimmo" 
Admin__Email           = "mimmo@mimmo.com"
Admin__Password        = "" 
JwtSettings__SecretKey = ""